:root {
    --gris: #7c7c7c;
    --blanco: #FFFFFF;
    --negro: #1F1E1E;
    --background-color: #1d1d20;
    --grisClaro: #E1E1E1;

    --separacion: 3rem;

    --fuentePrincipal: 'Quicksand', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 0 auto;
}

/** GLOBALES **/
.contenedor {
    max-width: 120rem;
    width: 90%;
}

h1,
h2,
h3 {
    font-weight: 700;
    margin: 2rem 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4.6rem;
}

h3 {
    font-size: 3rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

/** UTILIDADES **/
.text-center {
    text-align: center;
}

/** HEADER **/
.header {
    display: block;
    background-color: var(--background-color);
    color: var(--blanco);
}

.header__container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    padding: calc(var(--separacion) * 3) 0;
}

.header__photo {
    padding: 50px 0;
}

.header__photo--circle {
    display: block;
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    border: 9px solid var(--grisClaro);
    margin: 0 auto;
    border-radius: 10rem;
}

.header__title--name {
    margin: 1rem 0;
    font-size: 3.5rem;
    font-weight: 300;
}

.header__title--carrer {
    display: block;
    line-height: 1.2em;
    color: var(--grisClaro);
    margin: 0.5rem 0;
    font-size: 2rem;
    font-weight: 300;
}

.header__title--carrer a {
    color: var(--gris);
}

.icono {
    margin: 1rem;
}

.icono:hover {
    color: var(--grisClaro);
}




/** HEADER NAV **/
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.header__menu {
    position: relative;
    z-index: 1000;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-width: 1px 0;
    border-radius: 0;
    background-clip: padding-box;
    width: 100%;
}

.header__menu--default {
    background-color: var(--blanco);
    border-color: var(--gris);
}

.header__menu:before,
.header__menu:after {
    display: table;
    content: " ";
}

.header__menu--default .header__menu--barra {
    border-color: var(--grisClaro);
}

.header__menu--barra .header__menu--nav {
    float: none;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.header__menu--barra .header__menu--nav>li {
    float: none;
    display: inline-block;
}

.header__menu--barra .header__menu--nav>li>a {
    padding: 20px 30px;
    line-height: 20px;
    color: var(--negro);
}

.header__menu--barra .header__menu--nav>li>a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--negro);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.header__menu--barra .header__menu--nav>li>a:hover,
.header__menu--barra .header__menu--nav>li>a:focus,
.header__menu--barra .header__menu--nav>li>a:active {
    color: var(--blanco);
}

.header__menu--barra .header__menu--nav>li>a:hover:before,
.header__menu--barra .header__menu--nav>li>a:focus:before,
.header__menu--barra .header__menu--nav>li>a:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}